.header-container {
  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f16923; /* Color naranja */
    padding: 10px;
  }
  
  .left-icon {
    display: flex;
    align-items: center;
  }
  
  .star-icon {
    color: yellow;
    font-size: 20px;
    margin-right: 5px;
  }
  
  .text {
    font-weight: bold;
    font-size: 20px;
    color: white;
  }
  
  .right-icons {
    display: flex;
    gap: 10px;
  }
  
  .dot {
    color: white;
    font-size: 24px;
  }
  